@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Tilt+Neon&family=Tilt+Prism&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* background-0 */
body{
  background: #4CA1AF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.title{
    font-family: 'Tilt Prism', cursive;
    font-weight: 600;
    font-size: 87.5px;
    text-align: center;
    /* color: white; */
    /* justify-content: center; */
}


  .cards{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    column-gap: 50px;
    row-gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    height: 75vh;
    align-items: center;
  }
  .card{
    font-family: 'Tilt Neon', cursive;
    /* margin-right: 50px; */
    height: 500px;
    width: 400px;
    /* background-color: #FFC0CB; */
    background-color: rgb(51, 47, 47);
    color: white;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  box-shadow: rgba(31, 20, 20, 0.488) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  }

  .card-img-top{
    height: 300px;
  }

  .card:hover {
    transform: scale(1.1);
  }

  .card-title{
    font-weight:700;
}