@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{min-height:100%;}

body{
    /* background: linear-gradient(45deg,#fbda61,#ff5acd); */
    /* background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); */
    /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    /* background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%); */
    /* background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%); */
    /* background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); */
    /* background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */
    /* background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%); */
    /* background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); */
    /* background-image: linear-gradient(to right, #868f96 0%, #596164 100%); */
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
    /* background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%); */
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    /* background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%); */
    /* background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%); */


    position: relative;
}



.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.myNav{
    padding: 10px 0px;
    font-size: 20px;
    width: 92%;
}

.nav-item{
    margin-right: 30px;

    transition: all 0.4s ease-in-out;
}

.nav-item:hover{
     font-size: 22px;
     padding: 0 5px;
     background-color: #b03060;
     border-radius: 10px;
}

.brand-img{
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 30px;
}

.profileimg{
    width: 50px;
    height: 50px;
    color: white;
    border:2px solid white;
    border-radius: 50%;
    display: flex;
    padding-top: 10px;
    margin-top: 18px;
    align-self: normal;
    /* justify-items: center; */
    justify-content: center;
    margin-right: 2%;
    transition: all 0.3s ease-in-out;

}

.profileimg:hover{
    font-size: 20px;
    width: 55px;
    height: 55px;
    background-color: white;
    color: #b03060;
    cursor: pointer;
}


.highlights-heading{
     margin-top: 30px;
     margin-bottom: 30px;
     font-family: 'Rubik',sans-serif;
     margin-left: 30px;
     color:rgb(45, 0, 0);

}


.articles{

    margin-top: 30px;
    display: flex;
    /* background-color: red; */
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    flex-wrap:wrap ;
    row-gap: 20px;
    column-gap: 30px;
     /* flex-direction: column; */
     align-items: center;
     /* position: relative; */

}

.article{
    /* border: 3px solid black; */
     border-radius: 7px;
     overflow: hidden;
     /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
        display: flex;
        flex-direction: column;
        height: 400px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.article :hover{
    cursor: pointer;

}

.article-30{
    /* width: 400px; */
    width: 28%;
}

.article-40{
     /* width: 530px; */
     width: 34%;

}

.article-60{
    /* width: 700px; */
    width: 52%;

}

.article-50{
    /* width: 615px; */
    width: 43%;

}



.clip-img{
    width: 100%;
    background-color: pink;
    height: 300px;
}

.article .clip-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.short-desc{
    width: 100%;
    /* background-color: yellow; */
    background-color: whitesmoke;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #26000e;
    border-top: 2px solid rgb(133, 131, 131);
}

.modal-image{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
}
.modal-image img{
    width: 50vw;
    height: 400px;
    position: absolute;
   /* transform: translate(-50vw,-50vh); */
   left: 25vw;
   top: 10vh;
   /* top: 50vh; */
    z-index: 100;
}

.close-btn{
    right: 5vw;
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: 500;
    z-index: 100;
    cursor: pointer;
}

.close-btn a{
    color: white;
    text-decoration: none;
}


.description{
    color: white;
    position :absolute;
    z-index: 100;
    top: 70vh;
    width: 50vw;
    padding: 0 30px;
    left: 25vw;
}

.read-more{
    font-weight: 500;
    margin-left: 10px;
    cursor: pointer;
}




@media screen and (max-width:992px){

    .article-50{width:45%}
    .article-60{width:45%}
    .article-40{width:45%}
    .article-30{width:45%}


}

@media screen and (max-width:800px){

    .article-50{width:90%}
    .article-60{width:90%}
    .article-40{width:90%}
    .article-30{width:90%}


}

@media screen and (max-width:500px){
    .navbar-brand{
        opacity: 0;
    }

}

